footer{

    margin: 80px 0;
    text-align: center;
    line-height: 30px;
    color: #888;
}


footer .db-color{

    text-decoration: none;
    color: #888;
}

footer .netflix-color{

    text-decoration: none;
    color: #c50812;
}

footer div{

    background-color: #131313;
    box-shadow: 1px 1px 1px #131313;
    width: 50%;
    padding: 10px 10px;
    margin: auto;
    border-radius: 16px;
    cursor: pointer;
    transform: scale(0.9);
    transition: all ease .3s;
}

footer div:hover{

    color: #ddd;
    transform: scale(0.9);
}

@media(max-width: 760px){

    footer div{

        width: 100%;
        padding: 10px 12px;
    }
}